    <article class="container_fluid white" style="background-color: #8B0418 ;" id="wrapper_contact">
    <div class="wrapper_inner_contact contact_p">

        <h3 class="white">Meer weten?</h3><br>
        <p class="tekst white">Vrijblijvend eerste consult? Heeft u een vraag? </p><br><br>
        <%= form_for :message, url: contact_path do |message_form| %>
                        

            <div>
                <div class="radio_buttons">
                        <%= message_form.radio_button :topic, 'algemeen', :value => 'algemeen' %>
                        <%= label :topic, 'Algemene vragen' %>
                </div>

                <div class="radio_buttons">
                   <%= message_form.radio_button :topic, 'press', :value => 'algemeen' %>                        
                    <%= label :topic, 'Voor de pers' %>
                </div>

                <div class="radio_buttons">
                    <%= message_form.radio_button :topic, 'business', :value => 'algemeen' %>
                    <%= label :topic, 'Zakelijke vragen' %>
                </div>
            </div>

            <div class="row1">
                <%= message_form.label :name, 'Naam:'%><br>
                <%= message_form.text_field :name, class:"black full_width"%>
            </div>
                                
            <div class="row1">
                <%= message_form.label :email, 'E-mail:'%><br>
                <%= message_form.email_field :email, class:"black full_width" %>
            </div>

            <div class="field">
                <%= message_form.label :Message, 'Bericht:'%><br>
                <%= message_form.text_area :content, class: "black full_width heightBox" %>
            </div><br>
                          
            <div class="field black">
                <%= message_form.submit "Send" %>
            </div>
                      
        <% end %><br><br>
            <p id="form-tekst">Al uw gegevens zijn vertrouwlijk</p>
    </div>
    <div class="clearfix"></div>
</article>
