<%= render 'shared/navbar/navbarHome' %>

<div id="overlay_video"></div>
<div id="videoBox">
     <button class="closeBut" onmousedown="toggleOverlay()"><%= image_tag('closeIMG.png', class: "closeIMG")%></button><br>
     <iframe id="overlay_2068_player" src="https://www.youtube.com/embed/z5tugxy70MY" frameborder="0" allowfullscreen></iframe>  
</div>

    <article class="full_size container_fluid">
        <div  class="overlay_black">
        </div>      
        <div class="overlay_img"></div>

        <div class="row container_home_landing place_middle">
            <div class="col-lg-6 col-md-9 col-sm-10 col-xs-10 col-centered">
                <h1 class="tagline white">Wij maken de</h1><h1 class="tagline red" id="tagline2">diqitale</h1><h1 class="tagline white">leiders van de toekomst</h1>
            </div>
        <div class="col-lg-6 col-md-9 col-sm-10 col-xs-10 col-centered">
                <p class="white titel_tekst hidden-xs">
                    Wij van DIQITAL zijn uw partner in uw digitale transformatie. Wij leren bedrijven en mensen master storytellers te zijn, een hechte relatie op te bouwen met online consumenten en strategisch gebruik te maken van alle hulpmiddellen van het online tijdperk.</p>   
        </div>

        <div class="box_home_landing box white_box col-centered"><%= link_to " > ", articles_path, class: "pijl"%><%= link_to "Publicaties", articles_path, class: "link_tekst"%>
        </div>

        </div>
        
    </article>
            <div class="down_arrow hidden-xs"><figure><%= image_tag('down_arrow.png', class: "full_size")%></figure></div>
            <div class="down_arrow hidden-lg hidden-md hidden-sm phonearrow"><figure><%= image_tag('down_arrow.png', class: "full_size")%></figure></div>



<article class="container_fluid bgt1 full_width padding-bottom8" id="wrapper_diensten"> 
        <div class="wrap_vert">
            <div class="wrap_hor">
            <h3>Digitale Transformatie</h3>
            <h2>Onze diensten</h2><br><br><br>
            <p class="tekst">Wij gebruiken onze kennis om een op maat gemaakte online business strategie te formuleren die gebouwd is voor de lange termijn.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-dienst">
                <section class="section_diensten">
                <aside class="aside_dienst"><figure><%= image_tag('as1.png', class: "full_size")%></figure></aside>
                <h4 class="h4_index">Digital Transformatie</h4>
                <p class="text_shade klein">Strategische Business Models<br>Innovatieve bedrijfsprocessen</p></section>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-dienst">
                <section class="section_diensten">
                    <aside class="aside_dienst"><figure><%= image_tag('as2.png', class: "full_size")%></figure></aside>
                    <h4 class="h4_index">Klant Ervaring</h4>
                    <p class="text_shade klein">Branding<br>Social Media Content<br>Customer Relationship Management</p></section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-dienst">
                    <section class="section_diensten">    
                    <aside class="aside_dienst"><figure><%= image_tag('as3.png', class: "full_size")%></figure></aside>
                    <h4 class="h4_index">Online Marketing</h4>
                    <p class="text_shade klein">Social Media Advertenties<br>SEO</p></section>
            </div>
        </div>

    <div class="clearfix"></div>

    <div class="box black_box"><%= link_to " > ", services_path, class: "pijl"%><%= link_to "Meer informatie", services_path, class: "link_tekst1 link_black"%></div>

</article>

<article class="container_fluid full_width bgt2 h50" id="wrapper_klant_ervaring">              
    
            <figure onmousedown="toggleOverlay()" class="affoe1 pull-left">    
            <%= image_tag('ytIMG.jpg', class: "full_size_img")%>
            </figure>

         
            <div class="affoe2 pull-right">
                    <h3>Klant Ervaringen</h3>
                    <h2>Cases</h2>
                    <br><br>
                    <p class="tekst text_shade">XXX van XXXX doet XXXX. Als startende ondernemer met een passie voor XXXX wist hij al lang wat hij wilde doen. <br><br>Zijn passie is de drijvende kracht achter XXXX, wij waren de katalysator.<br><br>
                    </p>
                    <br><br>
                    <div class="box black_box"><%= link_to " > ", stories_path, class: "pijl"%><%= link_to "Meer Verhalen", stories_path, class: "link_tekst3 link_black"%></div>
            </div>
    <div class="clearfix"></div>
</article>


<article class="container_fluid full_width bgt1 h50" id="wrapper_blog">              
    
            <figure class="affoe1 pull-right">

            <%= image_tag(@article_last.image.url(:medium), class: "full_size_img")%>
            </figure>

         
            <div class="affoe2 pull-left">
                <h3>Het laatste artikel</h3>
                <h2><%= @article_last.title%></h2>
                <br><br>
                <p class="tekst">
                    <%= @article_last.content%><br><br>
                </p>
                <br><br>
                <div class="box black_box"><%= link_to " > ", articles_path, class: "pijl"%><%= link_to "Lees meer", article_path(@article_last), class: "link_tekst2 link_black"%></div>
            </div>
    <div class="clearfix"></div>
</article>

<hr class="col-centered" style="height: 0.1em; width: 85%; opacity: 0.4;">

<article class="container_fluid full_width bgt2 h50" id="wrapper_over_ons">              
    
            <figure class="affoe1 pull-left">

            <%= image_tag('missie.gif', class: "full_size_img")%> 
            </figure>

         
            <div class="affoe2 pull-right">
                <h2>Over Ons</h2>
                    <br><br>
                    <p class="tekst">

                        Ons werk bestaat uit kennis verspreiden over online business. Op onze pagina met <a href="#" style="color: black">artikelen</a> publiceren wij adviezen over branding, social media en onze andere gebieden van expertise. Stel gerust een vraag op Facebook, Instagram, twitter of per mail. Wij helpen u binnen een dag verder.<br><br>

                    </p>
                    <br><br>
                    <div class="box black_box"><%= link_to " > ", pages_over_ons_path, class: "pijl"%><%= link_to "Meer Over Ons", pages_over_ons_path, class: "link_tekst4 link_black"%></div>
            </div>
    <div class="clearfix"></div>
</article>
