

 <!DOCTYPE html>
<html>
<head>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF 8">
<link href='https://fonts.googleapis.com/css?family=Ek+Mukta:400,200,300,600,500,700,800' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Diqital - Partner in Digital</title>
</head>
<body>

<!--
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>-->

<%= yield %>
 



    <%= render 'shared/contactform' %>
    
    <footer id="footer">
        <%= render 'shared/normalfooter' %>
    </footer>

   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>




